:root {
    --main-color: #9A30AE;
    --main-color-light: #FEF7FF;
    --font-basic-color: black;
    --font-light-color: gray;
    --font-faint-color: lightgray;
    --font-white-color: white;

    --border-basic-color: black;
    --border-light-color: gray;
    --border-faint-color: lightgray;


    --font-size-small: 12px;
    --font-size-middle: 14px;
}


.--font-large {
    font-size: 18px;
}

.--font-mid {
    font-size: 16px;
}

.--font-small {
    font-size : 12px;
}

.--color-gray {
    color: gray;
}

.--color-lightgray{
    color: lightgray;
}

.--color-black {
    color: black;
}

.--color-main {
    color: #9A30AE;
}

.--color-red {
    color: red;
}

.--strong {
    font-weight: 700;
}

.--line-mid {
    text-decoration: line-through;
}



body {
    width: 2000px;
    margin: auto; 
    padding-top: 50px;
}

a {
	color: black;
	text-decoration: none;		
}
}